@page "/"

<PageTitle>Home</PageTitle>

<h3 class="text-center shadow p-4">SEJA BEM-VINDO AO CRUD DE FUNCIONARIOS</h3>

<label>
    <h5>INFORMAÇÕES IMPORTANTES:</h5>
    <p>O banco de dados foi criado usando o <strong>dotnet ef migrations add InitialCreate</strong>
        e o <strong>dotnet ef database update.</strong>
    </p>
</label>
